<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adoptie - PurrfectMatch</title>
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://kit.fontawesome.com/fee5056558.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <main>
      <section>
        <ul class="overzicht">
          <% dieren.forEach(function(dier) { %>
          <li>
            <a
              href="/adoptie/<%= dier.naam %>?id=<%= dier._id %>"
              aria-label="Ga naar dit dier"
            >
              <img
                src="img/verticale-close-up-shot-van-een-prachtige-afrikaanse-luipaard-die-op-de-weg-loopt kopie.jpg"
                alt=""
              />
              <div>
                <h2><%= dier.naam %></h2>
                <h4><%= dier.geslacht %></h4>
                <h5><%= dier.leeftijd %></h5>
                <h6><%= dier.gewicht %></h6>
                <p><%= dier.omschrijving %></p>
              </div>
              <i class="fa-solid fa-pen"></i>
            </a>
          </li>
          <% }); %>
        </ul>
      </section>
    </main>
    <script src="script/script.js"></script>
  </body>
</html>
